{% extends "base.html" %}
{% block title %}
    My RDE Documents
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>My RDE Documents</h1>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Created</th>
                            <th scope="col">#</th>
                            <th scope="col">Data</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for document in object_list %}
                          <tr>
                              <td>{{ document.enrollment_parameters.documentName }}</td>
                              <td>{{ document.created }}</td>
                              <th scope="row">{{ document.id }}</th>
                              <td class="text-wrap" style="max-width: 100px">{{ document.enrollment_parameters }}</td>
                          </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                    <a href="{% url 'enroll' %}" type="button" class="btn btn-primary">Enroll new document</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}