{% extends "base.html" %}
{% block title %}
    My RDE Documents
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>My RDE Documents</h1>
                <p>View your enrolled RDE documents.</p>
                <a href="{% url 'enroll' %}" type="button" class="btn btn-primary my-3">Enroll new document</a>
                <div class="accordion" id="documents">
                    {% for document in object_list %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-document-{{ document.id }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#document-{{ document.id }}" aria-expanded="false" aria-controls="document-{{ document.id }}">
                                <strong class="me-2">{{ document.enrollment_parameters.documentName}}</strong> {{ document.id }} ({{ document.created }})
                            </button>
                        </h2>
                        <div id="document-{{ document.id }}" class="accordion-collapse collapse" aria-labelledby="heading-document-{{ document.id }}" data-bs-parent="#documents">
                            <div class="accordion-body">
                                <strong>Enrollment parameters:</strong><br>
                                <code class="user-select-all">{{ document.enrollment_parameters }}</code>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}